    <!-- footer -->
    <footer>
        <div class="container-fluid " style="padding-top:20px; background-color: #f5f5fa;">
        </div>
        <div class="container-fluid " style="padding-top:20px;">
            <div class="row d-flex justify-content-evenly">
                <div class="col-6 justify-content-center d-flex">
                    Get connected with us on social networks:
                </div>
                <div class="col-6 d-flex justify-content-evenly">
                    <a href="https://www.facebook.com/nam.lekhac.58/"><i style="font-size: 1.rem;" class="fa-brands fa-facebook-f p-2"></i></a> 
                    <a href="https://twitter.com/NamLK14"><i style="font-size: 1.rem;" class="fa-brands fa-twitter p-2"></i></a> 
                    <a href=""><i style="font-size: 1.rem;" class="fa-brands fa-google p-2"></i></a>
                    <a href="https://www.instagram.com/le.khacnam/"><i style="font-size: 1.rem;" class="fa-brands fa-instagram-square p-2"></i></a>
                    <a href="https://www.linkedin.com/in/nam-kiji-55bb76222/"><i style="font-size: 1.rem;" class="fa-brands fa-linkedin p-2"></i></a> 
                    <a href="https://github.com/namlk173"> <i style="font-size: 1.rem;" class="fa-brands fa-github p-2"></i></a> 
                </div>
            </div>
            <hr style="height: 2px; color: #ccc;">
            <div class="row d-flex justify-content-around">
                <div class="col-3 d-flex flex-column">
                    <div class="p-2"><i class="fa-solid fa-gem" style="margin-right: 10px; padding-top: 2px;"></i> NHÓM 15</div>
                    <div class="p-2">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    
                </div>
                <div class="col-3 d-flex flex-column">
                    <span class="p-2">PRODUCT</span>
                    <span class="p-2">Angular</span>
                    <span class="p-2">Django</span>
                    <span class="p-2">ReactJS</span>
                    <span class="p-2">SpringMVC</span>
                </div>
                <div class="col-3 d-flex flex-column">
                    <span class="p-2">USEFUL LINKS</span>
                    <span class="p-2">Pricing</span>
                    <span class="p-2">Settings</span>
                    <span class="p-2">Orders</span>
                    <span class="p-2">Helps</span>
                </div>
                <div class="col-3 d-flex flex-column">
                    <span class="p-2">CONTACT</span>
                    <span class="p-2"><i class="fa-solid fa-house" style="margin-right: 10px;"></i>New York, NY 10012, US</span>
                    <span class="p-2"><i class="fa-solid fa-envelope" style="margin-right: 10px;"></i>Nhom15@gmail.com</span>
                    <span class="p-2"><i class="fa-solid fa-phone" style="margin-right: 10px;"></i>+84 8888 8888</span>
                    <span class="p-2"><i class="fa-solid fa-fax" style="margin-right: 10px;"></i>+84 9999 9999</span>
                </div>
            </div>
        </div>
        <div class="container-fluid " style="padding:20px; background-color: #f5f5fa;">
            <div class="d-flex justify-content-center">
                <span><i class="fa-solid fa-copyright"></i> 2022 Copyright: <strong>tiki.com</strong> </span>
            </div>
        </div>
    </footer>
