{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if product %}
<div class="container-fluid" style="background-color: #f5f5fa; padding-top: 2rem;">
    <div class="container bg-white" style="padding: 1rem;">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-5 border-r">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{product.image.url}}" alt="">
                </div>
            </div>
            <div class="col-lg-8 col-sm-6 col-md-7">
                <div class="row d-flex justify-content-start">
                    {% if category == 'Mobile Phone' %}
                    <div>
                        <span><strong class="fs-08">Brand: </strong></span> 
                        <span style="color: #3498db; font-weight: bold;" class="fs-08">{{product.brand}}</span>
                        <span style="font-weight: bold;" class="fs-08"> | Gen: {{product.gen}}</span>
                    </div>
                    {% elif category == 'Clothes' %}
                    <div>
                        <span><strong class="fs-08">Brand: </strong></span> 
                        <span style="color: #3498db; font-weight: bold;" class="fs-08">{{product.brand}}</span>
                        <span style="font-weight: bold;" class="fs-08"> | Type: {{product.type}}</span>
                    </div>
                    {% elif category == 'Book' %}
                    <div>
                        <span><strong class="fs-08">Book category: </strong></span> 
                        <span style="color: #3498db; font-weight: bold;" class="fs-08">{{product.book_category}}</span>
                        <span style="font-weight: bold;" class="fs-08"> | Author: {{product.author}}</span>
                        <span style="font-weight: bold;" class="fs-08"> | Number page: {{product.number_page}}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="name-product-head">
                        <span class="fs-12">{{product.name}}</span>
                    </div>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="col-lg-7 col-sm-12 price-place" style="background-color: #fafafa;">
                        <span class="price-product">{{product.price}} đ</span>
                    </div>
                </div>
                {% if request.user.functionality_of_user.name == 'Customer' %}
                <div class="row d-flex justify-content-start quantity-product-choice">
                    <div class="col-7">
                        <span>Quantity</span>
                        <div class="form-quantity row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div style="margin-bottom: 1rem;" class=" col-3 d-flex justify-content-start">
                                    <span id="decrement-quantity" class="btn-quantity btn-quantity-left"><i class="fa-solid fa-minus" ></i></span>
                                    <input type="text" value="1" id="quantity" name="quantity" class="quantity-value">
                                    <span id="increase-quantity" class="btn-quantity btn-quantity-right"  ><i class="fa-solid fa-plus"></i></span>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-danger btn-order">Add to cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container bg-white" style="margin-top: 2rem; padding-bottom: 1rem;">
        <div class="title-product">Thông tin chi tiết</div>
        <div class="row">
            <div class="col-3 description-product-1">
                {% for fields in form %}    
                {% if fields.label != 'Image' and fields.label != 'Category' and fields.label != 'Description' and fields.label != 'Price' and fields.value %}
                <div class="row fields-product">{{fields.label}}</div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-7 description-product-2" style="margin-left: 1rem;">
                {% for fields in form %} 
                {% if fields.label != 'Image' and fields.label != 'Category' and fields.label != 'Description' and fields.label != 'Price' and fields.value %}
                <div class="row fields-product">{{fields.value}} {{fields.help_text}}</div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container bg-white" style=" margin-top: 2rem; padding-bottom: 1rem;">
        <div class="title-product">Mô Tả Sản Phẩm</div>
        <div class="row">
            <div class="name-product">{{category}}: {{form.name.value}}</div>
        </div>
        <div class="row">
            <div class="decription-product">{{form.description.value|linebreaks}}</div>
        </div>
    </div>
    <div class="container bg-white comment-view-container">
        <div class="title-product m-4 pt-2">Nhận xét từ khách hàng đã mua sản phẩm</div>
        {% for comment in comments %}
        <div class="row p-2 shadow-lg comment-view">
            <div class="col-1 text-end"><img src="{{request.user.avatar.url}}" width="50%" class="rounded"></div>
            <div class="col-4 text-start">
                <div class="fs-08 mb-2">@{{comment.user.username}}</div>
                <div class="fs-08 mb-2">{{comment.created|timesince}} ago</div>
                <div>{{comment.content}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% for message in messages %}
<div class="alert alert-success alert-position" role="alert" id="alert">
    {{message}}
    <span class="btn-custom"><i class="fa-solid fa-xmark"></i></span>
</div>
{% endfor %}

{% endblock %}

