{% extends 'index.html' %}


{% block content %}
<form action="" method="post">
{% csrf_token %}
<div class="container-fluid" style="background-color: #f5f5fa;">
    <div class="container border" style="background-color: #f7f7f7; margin-top: 10rem;">
        <div class="row" >
            <div class="col-12">
                {% for field in form %}
                <div class="row d-flex justify-content-center">
                    <div class="col-2 p-2"><Strong>{{field.label}}</Strong></div>
                    <div class="col-4 p-2">{{field}}</div>
                </div>
                {% endfor %}
                <div class="row d-flex justify-content-center">
                    <div class="col-2 p-2"></div>
                    <div class="col-2 p-2"><a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary" style="width: 80%;">Cancel</a></div>
                    {% if page == 'update' %}
                    <div class="col-2 p-2"><input type="submit" class="btn btn-primary" style="width: 80%;" name="submit_update" value="Update"></div>
                    {% else %}
                    <div class="col-2 p-2"><input type="submit" class="btn btn-primary" style="width: 80%;" name="submit_update" value="ADD"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}