{% extends 'index.html' %}

{% block content %}

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-6 pb-3 text-center">
            <strong style="font-size: 1.5rem; color: #0984e3;">Update {{category}}</strong>
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% for fields in form %}
            {% if fields.label != 'Category' %}
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label"><strong>{{fields.label}}:</strong></label>
            <div class="col-sm-10" style="max-height: 10%;">
                {{fields}}
            </div>
        </div>
            {% endif %}
        {% endfor%}
        <div class="col-6">
            <div class="d-flex justify-content-center"> 
                <a href="{% url 'manage' %}" class="btn btn-secondary" style="margin-right: 1.5rem;">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Update product">
            </div>
        </div>

    </form>
</div>

{% endblock %}